In [1]:
from pymongo import MongoClient

In [50]:
client = MongoClient('mongodb://127.0.0.1:27017')

In [51]:
#Show databases
client.list_database_names()

['admin', 'config', 'demo', 'local', 'mydatabase', 'mydb']

In [52]:
#create database name mydatabase
db = client["mydatabase"]

In [53]:
#Show database
client.list_database_names()

['admin', 'config', 'demo', 'local', 'mydatabase', 'mydb']

In [54]:
#create collection
employees = db["Employee"]

In [55]:
db.list_collection_names()

['Employee']

In [56]:
#Insert one record/document
employees.insert_one({"id":1,"Empname":"Lavanya","Job":"AIEngineer","Salary":100000})

In [57]:
client.list_database_names()

['admin', 'config', 'demo', 'local', 'mydatabase', 'mydb']

In [58]:
db.list_collection_names()

['Employee']

In [59]:
#count the number of documents inside the collection
employees.count_documents({})

12

In [40]:
#see the data inside the collection:
employees.find_one()

{'_id': ObjectId('62d597c3269a468add7bcdbc'),
 'id': 1,
 'EmpName': 'Lavanya',
 'Job': 'AIEngineer',
 'Salary': 100000}

In [60]:
#Insert multiple records
#so first make the list
employeelist=[
            {"id":2,"Empname":"Ratna","Job":"SoftwareEngineer","Salary":80000},
            {"id":3,"Empname":"Roy","Job":"RoboticsEngineer","Salary":250000},
            {"id":4,"Empname":"Luxshi","Job":"QAEngineer","Salary":70000},
            {"id":5,"Empname":"Kanes","Job":"MachineLearningEngineer","Salary":200000}
]
#then insert list
employees.insert_many(employeelist)

In [61]:
employees.count_documents({})

16

In [25]:
#Display all documents
for employee in employees.find():
    print(employee)

{'_id': ObjectId('62d597c3269a468add7bcdbc'), 'id': 1, 'EmpName': 'Lavanya', 'Job': 'AIEngineer', 'Salary': 100000}
{'_id': ObjectId('62d59f63269a468add7bcdbd'), 'id': 2, 'Empname': 'Ratna', 'Job': 'SoftwareEngineer', 'Salary': 80000}
{'_id': ObjectId('62d59f63269a468add7bcdbe'), 'id': 3, 'Empname': 'Roy', 'Job': 'RoboticsEngineer', 'Salary': 250000}
{'_id': ObjectId('62d59f63269a468add7bcdbf'), 'id': 4, 'Empname': 'Luxshi', 'Job': 'QAEngineer', 'Salary': 70000}
{'_id': ObjectId('62d59f63269a468add7bcdc0'), 'id': 5, 'Empname': 'Kanes', 'Job': 'MachineLearningEngineer', 'Salary': 200000}

In [62]:
# View limited documents
for employee in employees.find().limit(3):
    print(employee)

{'_id': ObjectId('62d597c3269a468add7bcdbc'), 'id': 1, 'EmpName': 'Lavanya', 'Job': 'AIEngineer', 'Salary': 100000}
{'_id': ObjectId('62d59f63269a468add7bcdbd'), 'id': 2, 'Empname': 'Ratna', 'Job': 'SoftwareEngineer', 'Salary': 80000}
{'_id': ObjectId('62d59f63269a468add7bcdbe'), 'id': 3, 'Empname': 'Roy', 'Job': 'RoboticsEngineer', 'Salary': 250000}

In [63]:
for employee in employees.find({},{"Empname":1,"_id":0}):
    print(employee)

{}
{'Empname': 'Ratna'}
{'Empname': 'Roy'}
{'Empname': 'Luxshi'}
{'Empname': 'Kanes'}
{'Empname': 'Lavanya'}
{'Empname': 'Lavanya'}
{'Empname': 'Ratna'}
{'Empname': 'Roy'}
{'Empname': 'Luxshi'}
{'Empname': 'Kanes'}
{'Empname': 'Lavanya'}
{'Empname': 'Ratna'}
{'Empname': 'Roy'}
{'Empname': 'Luxshi'}
{'Empname': 'Kanes'}

In [64]:
employees.delete_one({ "id":11 })

In [66]:
for employee in employees.find({},{"id":1,"_id":1}):
    print(employee)

{'_id': ObjectId('62d597c3269a468add7bcdbc'), 'id': 1}
{'_id': ObjectId('62d59f63269a468add7bcdbd'), 'id': 2}
{'_id': ObjectId('62d59f63269a468add7bcdbe'), 'id': 3}
{'_id': ObjectId('62d59f63269a468add7bcdbf'), 'id': 4}
{'_id': ObjectId('62d59f63269a468add7bcdc0'), 'id': 5}
{'_id': ObjectId('62d5a270269a468add7bcdc1'), 'id': 1}
{'_id': ObjectId('62d5a28b269a468add7bcdc2'), 'id': 1}
{'_id': ObjectId('62d5a295269a468add7bcdc3'), 'id': 2}
{'_id': ObjectId('62d5a295269a468add7bcdc4'), 'id': 3}
{'_id': ObjectId('62d5a295269a468add7bcdc5'), 'id': 4}
{'_id': ObjectId('62d5a295269a468add7bcdc6'), 'id': 5}
{'_id': ObjectId('62d5a32e269a468add7bcdc9'), 'id': 1}
{'_id': ObjectId('62d5a341269a468add7bcdca'), 'id': 2}
{'_id': ObjectId('62d5a341269a468add7bcdcb'), 'id': 3}
{'_id': ObjectId('62d5a341269a468add7bcdcc'), 'id': 4}
{'_id': ObjectId('62d5a341269a468add7bcdcd'), 'id': 5}

In [67]:
employees.delete_one({ "_id":"ObjectId('62d5a270269a468add7bcdc1')" })

In [68]:
for employee in employees.find({},{"id":1,"_id":1}):
    print(employee)

{'_id': ObjectId('62d597c3269a468add7bcdbc'), 'id': 1}
{'_id': ObjectId('62d59f63269a468add7bcdbd'), 'id': 2}
{'_id': ObjectId('62d59f63269a468add7bcdbe'), 'id': 3}
{'_id': ObjectId('62d59f63269a468add7bcdbf'), 'id': 4}
{'_id': ObjectId('62d59f63269a468add7bcdc0'), 'id': 5}
{'_id': ObjectId('62d5a270269a468add7bcdc1'), 'id': 1}
{'_id': ObjectId('62d5a28b269a468add7bcdc2'), 'id': 1}
{'_id': ObjectId('62d5a295269a468add7bcdc3'), 'id': 2}
{'_id': ObjectId('62d5a295269a468add7bcdc4'), 'id': 3}
{'_id': ObjectId('62d5a295269a468add7bcdc5'), 'id': 4}
{'_id': ObjectId('62d5a295269a468add7bcdc6'), 'id': 5}
{'_id': ObjectId('62d5a32e269a468add7bcdc9'), 'id': 1}
{'_id': ObjectId('62d5a341269a468add7bcdca'), 'id': 2}
{'_id': ObjectId('62d5a341269a468add7bcdcb'), 'id': 3}
{'_id': ObjectId('62d5a341269a468add7bcdcc'), 'id': 4}
{'_id': ObjectId('62d5a341269a468add7bcdcd'), 'id': 5}

In [69]:
employees.drop()

In [70]:
for employee in employees.find({},{"id":1,"_id":1}):
    print(employee)

In [71]:
db.list_collection_names()

[]

In [73]:
employeelist=[
            {"id":1,"Empname":"Lavanya","Job":"AIEngineer","Salary":100000},
            {"id":2,"Empname":"Ratna","Job":"SoftwareEngineer","Salary":80000},
            {"id":3,"Empname":"Roy","Job":"RoboticsEngineer","Salary":250000},
            {"id":4,"Empname":"Luxshi","Job":"QAEngineer","Salary":70000},
            {"id":5,"Empname":"Kanes","Job":"MachineLearningEngineer","Salary":200000}
]
#then insert list
employees.insert_many(employeelist)

In [74]:
# View limited documents
for employee in employees.find().limit(3):
    print(employee)

{'_id': ObjectId('62d5a530269a468add7bcdce'), 'id': 1, 'Empname': 'Lavanya', 'Job': 'AIEngineer', 'Salary': 100000}
{'_id': ObjectId('62d5a530269a468add7bcdcf'), 'id': 2, 'Empname': 'Ratna', 'Job': 'SoftwareEngineer', 'Salary': 80000}
{'_id': ObjectId('62d5a530269a468add7bcdd0'), 'id': 3, 'Empname': 'Roy', 'Job': 'RoboticsEngineer', 'Salary': 250000}

In [76]:
employees.delete_one({ "id": 1 })

In [77]:
#Display all documents
for employee in employees.find():
    print(employee)

{'_id': ObjectId('62d5a530269a468add7bcdcf'), 'id': 2, 'Empname': 'Ratna', 'Job': 'SoftwareEngineer', 'Salary': 80000}
{'_id': ObjectId('62d5a530269a468add7bcdd0'), 'id': 3, 'Empname': 'Roy', 'Job': 'RoboticsEngineer', 'Salary': 250000}
{'_id': ObjectId('62d5a530269a468add7bcdd1'), 'id': 4, 'Empname': 'Luxshi', 'Job': 'QAEngineer', 'Salary': 70000}
{'_id': ObjectId('62d5a530269a468add7bcdd2'), 'id': 5, 'Empname': 'Kanes', 'Job': 'MachineLearningEngineer', 'Salary': 200000}

In [78]:
employees.insert_one({"id":1,"Empname":"Lavanya","Job":"AIEngineer","Salary":100000})

In [79]:
client.list_database_names()

['admin', 'config', 'demo', 'local', 'mydatabase', 'mydb']

In [82]:
db.list_collection_names()

['Employee']

In [83]:
#Display all documents
for employee in employees.find():
    print(employee)

{'_id': ObjectId('62d5a530269a468add7bcdcf'), 'id': 2, 'Empname': 'Ratna', 'Job': 'SoftwareEngineer', 'Salary': 80000}
{'_id': ObjectId('62d5a530269a468add7bcdd0'), 'id': 3, 'Empname': 'Roy', 'Job': 'RoboticsEngineer', 'Salary': 250000}
{'_id': ObjectId('62d5a530269a468add7bcdd1'), 'id': 4, 'Empname': 'Luxshi', 'Job': 'QAEngineer', 'Salary': 70000}
{'_id': ObjectId('62d5a530269a468add7bcdd2'), 'id': 5, 'Empname': 'Kanes', 'Job': 'MachineLearningEngineer', 'Salary': 200000}
{'_id': ObjectId('62d5a664269a468add7bcdd3'), 'id': 1, 'Empname': 'Lavanya', 'Job': 'AIEngineer', 'Salary': 100000}

In [84]:
employees.drop()

In [85]:
employeelist=[
            {"id":1,"Empname":"Lavanya","Job":"AIEngineer","Salary":100000},
            {"id":2,"Empname":"Ratna","Job":"SoftwareEngineer","Salary":80000},
            {"id":3,"Empname":"Roy","Job":"RoboticsEngineer","Salary":250000},
            {"id":4,"Empname":"Luxshi","Job":"QAEngineer","Salary":70000},
            {"id":5,"Empname":"Kanes","Job":"MachineLearningEngineer","Salary":200000}
]
#then insert list
employees.insert_many(employeelist)

In [86]:
#Display all documents
for employee in employees.find():
    print(employee)

{'_id': ObjectId('62d5a7c8269a468add7bcdd4'), 'id': 1, 'Empname': 'Lavanya', 'Job': 'AIEngineer', 'Salary': 100000}
{'_id': ObjectId('62d5a7c8269a468add7bcdd5'), 'id': 2, 'Empname': 'Ratna', 'Job': 'SoftwareEngineer', 'Salary': 80000}
{'_id': ObjectId('62d5a7c8269a468add7bcdd6'), 'id': 3, 'Empname': 'Roy', 'Job': 'RoboticsEngineer', 'Salary': 250000}
{'_id': ObjectId('62d5a7c8269a468add7bcdd7'), 'id': 4, 'Empname': 'Luxshi', 'Job': 'QAEngineer', 'Salary': 70000}
{'_id': ObjectId('62d5a7c8269a468add7bcdd8'), 'id': 5, 'Empname': 'Kanes', 'Job': 'MachineLearningEngineer', 'Salary': 200000}

In [88]:
for employee in employees.find().limit(3):
    print(employee)

{'_id': ObjectId('62d5a7c8269a468add7bcdd4'), 'id': 1, 'Empname': 'Lavanya', 'Job': 'AIEngineer', 'Salary': 100000}
{'_id': ObjectId('62d5a7c8269a468add7bcdd5'), 'id': 2, 'Empname': 'Ratna', 'Job': 'SoftwareEngineer', 'Salary': 80000}
{'_id': ObjectId('62d5a7c8269a468add7bcdd6'), 'id': 3, 'Empname': 'Roy', 'Job': 'RoboticsEngineer', 'Salary': 250000}

In [89]:
#show name only
for employee in employees.find({},{"Empname":1}):
    print(employee)

{'_id': ObjectId('62d5a7c8269a468add7bcdd4'), 'Empname': 'Lavanya'}
{'_id': ObjectId('62d5a7c8269a468add7bcdd5'), 'Empname': 'Ratna'}
{'_id': ObjectId('62d5a7c8269a468add7bcdd6'), 'Empname': 'Roy'}
{'_id': ObjectId('62d5a7c8269a468add7bcdd7'), 'Empname': 'Luxshi'}
{'_id': ObjectId('62d5a7c8269a468add7bcdd8'), 'Empname': 'Kanes'}

In [91]:
#show name only without auto generated id
for employee in employees.find({},{"Empname":1,"_id":0}):
    print(employee)

{'Empname': 'Lavanya'}
{'Empname': 'Ratna'}
{'Empname': 'Roy'}
{'Empname': 'Luxshi'}
{'Empname': 'Kanes'}

In [92]:
#show name and job
for employee in employees.find({},{"Empname":1,"Job":1,"_id":0}):
    print(employee)

{'Empname': 'Lavanya', 'Job': 'AIEngineer'}
{'Empname': 'Ratna', 'Job': 'SoftwareEngineer'}
{'Empname': 'Roy', 'Job': 'RoboticsEngineer'}
{'Empname': 'Luxshi', 'Job': 'QAEngineer'}
{'Empname': 'Kanes', 'Job': 'MachineLearningEngineer'}

In [93]:
#list the documents by sorting the Empname
for employee in employees.find().sort("Empname"):
    print(employee)

{'_id': ObjectId('62d5a7c8269a468add7bcdd8'), 'id': 5, 'Empname': 'Kanes', 'Job': 'MachineLearningEngineer', 'Salary': 200000}
{'_id': ObjectId('62d5a7c8269a468add7bcdd4'), 'id': 1, 'Empname': 'Lavanya', 'Job': 'AIEngineer', 'Salary': 100000}
{'_id': ObjectId('62d5a7c8269a468add7bcdd7'), 'id': 4, 'Empname': 'Luxshi', 'Job': 'QAEngineer', 'Salary': 70000}
{'_id': ObjectId('62d5a7c8269a468add7bcdd5'), 'id': 2, 'Empname': 'Ratna', 'Job': 'SoftwareEngineer', 'Salary': 80000}
{'_id': ObjectId('62d5a7c8269a468add7bcdd6'), 'id': 3, 'Empname': 'Roy', 'Job': 'RoboticsEngineer', 'Salary': 250000}

In [94]:
#Get employee name and job, that name start with "R"
for employee in employees.find({"Empname":{"$regex":"^R"}},{"Empname":1,"Job":1,"_id":0}):
    print(employee)

{'Empname': 'Ratna', 'Job': 'SoftwareEngineer'}
{'Empname': 'Roy', 'Job': 'RoboticsEngineer'}

In [95]:
#update values
myquery={"Job":{"$regex":"^M"}}
newvalues={"$set":{"Job":"ResearchEngineer"}}
result=employees.update_many(myquery,newvalues)
print(result.modified_count,"Updated")

1 Updated

In [96]:
for employee in employees.find():
    print(employee)

{'_id': ObjectId('62d5a7c8269a468add7bcdd4'), 'id': 1, 'Empname': 'Lavanya', 'Job': 'AIEngineer', 'Salary': 100000}
{'_id': ObjectId('62d5a7c8269a468add7bcdd5'), 'id': 2, 'Empname': 'Ratna', 'Job': 'SoftwareEngineer', 'Salary': 80000}
{'_id': ObjectId('62d5a7c8269a468add7bcdd6'), 'id': 3, 'Empname': 'Roy', 'Job': 'RoboticsEngineer', 'Salary': 250000}
{'_id': ObjectId('62d5a7c8269a468add7bcdd7'), 'id': 4, 'Empname': 'Luxshi', 'Job': 'QAEngineer', 'Salary': 70000}
{'_id': ObjectId('62d5a7c8269a468add7bcdd8'), 'id': 5, 'Empname': 'Kanes', 'Job': 'ResearchEngineer', 'Salary': 200000}

In [72]:
class robots:
    from pymongo import MongoClient
    client = MongoClient('mongodb://127.0.0.1:27017')
    print(client.list_database_names())
    db=client["Robot"]   
    tRobot=db["robotTable"]
    id=1
    color="red"
    tRobot.insert_one({"id":id,"color":color})
    print(client.list_database_names())
    print(db.list_collection_names())
    tRobot.drop()
    for robot1 in tRobot.find():
        print(robot1)

['Robot', 'admin', 'config', 'demo', 'local', 'mydatabase', 'mydb']
['Robot', 'admin', 'config', 'demo', 'local', 'mydatabase', 'mydb']
['robotTable']